@import  '../variables';

.Lista{
    height: 16.5625rem;
    background-color:$color-list;
    color: white;
    list-style: none;
}

.list__item{
    font-family: $font-secondary;
    font-size: 48px;
    font-weight: bold;
}

.list__span{
    font-family: $font-primary;
    font-size: 17px;
    font-weight: 400;
}